@namespace EzFtl.Views
@model EzFtl.Models.ViewModels.ChannelViewModel
@{
    ViewData["Title"] = Model.ChannelName;
}

<video 
    autoplay
    controls
    class="ftl"
    data-channel-id="@Model.ChannelId"
    data-janus-uri="@Model.JanusUri"
    poster="@Model.PosterImageUri">
</video>
<div class="channel-title">@Model.ChannelName</div>

@section Scripts
{
    <script src="/player.js"></script>
}